@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-primary: #dc2626;
}

@layer base {
  :root {
    --font-orbitron: 'Orbitron', sans-serif;
    --font-racing: 'Racing Sans One', sans-serif;
    --font-oxanium: 'Oxanium', sans-serif;
    --font-exo2: 'Exo 2', sans-serif;
  }
}

/* Reusable classes */
.font-orbitron {
  font-family: var(--font-orbitron);
}

.font-racing {
  font-family: var(--font-racing);
}

.font-oxanium {
  font-family: var(--font-oxanium);
}

.font-exo2 {
  font-family: var(--font-exo2);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
